/*----------------------------Header----------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background: linear-gradient(#000000, #242424);
  line-height: 1.05; }

header {
  z-index: 10; }

.logoSize {
  width: 100px; }

.menu {
  background-color: #967f6270;
  color: #f1f1f1; }

.dropdown-item {
  text-align: center; }

.menuLetras {
  color: #f1f1f1; }

.navbar-nav {
  --bs-nav-link-hover-color: nth($colores, 1); }

header li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-radius: 20px; }

header li a:hover, .dropdown:hover .dropbtn {
  transition: 0.5s;
  background-color: #f9f9f9d5;
  color: #917046;
  transition-duration: 0.5s; }

header li.dropdown {
  display: inline-block; }

header .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px; }

header .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center; }

header .dropdown-content a:hover {
  background-color: #f1f1f1;
  transition: 0.5s; }

header .dropdown:hover .dropdown-content {
  display: block;
  transition: 0.5s; }

.activo {
  color: #917046;
  background-color: rgba(7, 7, 7, 0.384);
  border-radius: 20px; }

/*---------------------------Variables----------------------------*/
.heroServiciosCB, .heroServiciosCU, .heroServiciosC {
  width: 100%;
  height: 30vh;
  margin-bottom: 100px;
  z-index: 1;
  filter: blur(10px);
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px); }

header {
  z-index: 10; }
  header nav .navbar-nav {
    --bs-nav-link-hover-color:$nth($colores, 1); }
  header nav .menu {
    background-color: #967f6270;
    color: #ffffff; }
  header nav div .logoSize {
    width: 100px; }
  header nav div li .menuLetras {
    color: #ffffff; }
  header nav div li a, header nav div li .dropbtn {
    display: inline-block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-radius: 20px; }
  header nav div li .dropdown {
    display: inline-block; }

.dropdown-item {
  text-align: center; }

/*----------------------------Hero----------------------------*/
.heroTexto {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  height: 80vh;
  background: url(../img/30.png);
  font-weight: 400;
  font-size: 10rem;
  line-height: 80px;
  color: #a38051;
  padding: 20px;
  text-align: center;
  z-index: 1; }
  .heroTexto h2 {
    font-size: 8rem; }

.heroTextoOtros {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  height: 80vh;
  background: url(../img/30.png);
  font-weight: 400;
  font-size: 80px;
  line-height: 80px;
  color: #a38051;
  padding: 20px;
  text-align: center;
  z-index: 1; }
  .heroTextoOtros h2 {
    font-size: 8rem; }

.dentrohero {
  background-position: center;
  background-size: 70%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  height: 80vh;
  opacity: 20%;
  z-index: 1; }

.hero {
  background: url(../img/logo_azahares.gif);
  background-position: center;
  background-size: 70%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  height: 80vh;
  z-index: 1; }

/*---------------------------Inicio----------------------------*/
section.lineasDoradas {
  display: flex;
  justify-content: center;
  align-items: none;
  flex-direction: column; }
  section.lineasDoradas p.margen {
    color: #917046;
    text-shadow: #333;
    text-align: center;
    font-size: 2rem; }
  section.lineasDoradas p {
    color: #917046;
    text-shadow: #333;
    text-align: center;
    font-size: 2rem; }
  section.lineasDoradas div.infoCaja {
    margin-bottom: 100px;
    width: 48vh;
    height: 34vh;
    background: url(../img/boxcoper.jpg);
    background-repeat: no-repeat;
    z-index: 1;
    margin-top: 100px; }
    section.lineasDoradas div.infoCaja .infoCajaTexto {
      color: #a38051;
      text-shadow: #333;
      text-align: center;
      text-shadow: 4px 4px 0px #333;
      font-size: 3rem; }
      section.lineasDoradas div.infoCaja .infoCajaTexto h3 {
        font-size: 2rem; }
      section.lineasDoradas div.infoCaja .infoCajaTexto p {
        font-size: 1rem; }

.fondoSalon {
  width: 100%;
  height: 40vh;
  background: url(../img/fondosalon2.png);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 100px 0 100px 0; }

section.servicios h4 {
  font-size: 2rem;
  color: #917046;
  text-align: center; }

section.servicios div {
  display: flex;
  justify-content: space-around;
  align-items: none;
  flex-direction: row;
  margin-bottom: -100px;
  flex-wrap: wrap;
  margin-bottom: 100px; }
  section.servicios div div {
    display: flex;
    justify-content: center;
    align-items: none;
    flex-direction: column;
    border: 1px solid #917046;
    width: 230px;
    height: 540px;
    font-size: 1rem;
    color: #917046;
    background-color: #333;
    box-shadow: 0px 0px 14px 0px rgba(255, 255, 255, 0.75);
    -webkit-box-shadow: 0px 0px 14px 0px rgba(255, 255, 255, 0.75);
    -moz-box-shadow: 0px 0px 14px 0px rgba(255, 255, 255, 0.75);
    border-radius: 20px;
    transition: 1.5s; }
    section.servicios div div h2 {
      color: #917046;
      text-shadow: #333;
      text-align: center;
      font-size: 2rem;
      margin-bottom: 100px; }
    section.servicios div div p {
      text-align: center; }
    section.servicios div div img {
      width: 220px;
      height: 250px;
      padding: 10px;
      border-radius: 20px; }
    section.servicios div div img.linea {
      width: 80%;
      height: 5%; }
    section.servicios div div a {
      font-size: 1rem;
      text-align: center;
      color: #ffffff;
      text-decoration: none;
      margin-bottom: 20px; }
      section.servicios div div a img {
        width: 150px;
        height: 50px; }

div.dorado {
  background-image: url(../img/boxcoper.jpg);
  text-shadow: 2px 2px 0px #333; }

/*----------------------------Servicios otros----------------------------*/
section.serviciosOtros div {
  display: flex;
  justify-content: space-around;
  align-items: none;
  flex-direction: row;
  margin-bottom: 100px;
  flex-wrap: wrap; }
  section.serviciosOtros div h2 {
    color: #917046;
    text-shadow: #333;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 100px; }
  section.serviciosOtros div div {
    display: flex;
    justify-content: center;
    align-items: none;
    flex-direction: column;
    border: 1px solid #917046;
    width: 600px;
    height: 260px;
    font-size: 1rem;
    color: #917046;
    background-color: #333;
    box-shadow: 0px 0px 14px 0px rgba(255, 255, 255, 0.75);
    -webkit-box-shadow: 0px 0px 14px 0px rgba(255, 255, 255, 0.75);
    -moz-box-shadow: 0px 0px 14px 0px rgba(255, 255, 255, 0.75);
    border-radius: 20px;
    transition: 1.5s; }
    section.serviciosOtros div div p {
      margin-bottom: 0px; }
    section.serviciosOtros div div img.linea {
      width: 5%;
      height: 100%; }
    section.serviciosOtros div div img {
      width: 220px;
      height: 250px;
      padding: 10px;
      border-radius: 20px; }
    section.serviciosOtros div div a {
      font-size: 1rem;
      text-align: center;
      color: #ffffff;
      text-decoration: none;
      margin-bottom: 20px; }
      section.serviciosOtros div div a img {
        width: 100%;
        height: 100%; }

section.otroPresu {
  margin-bottom: 100px; }
  section.otroPresu h4 {
    font-size: 2rem;
    color: #917046;
    text-align: center; }

/*----------------------------Formulario----------------------------*/
.formularioFondo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  height: 40vh;
  background: linear-gradient(rgba(0, 0, 0, 0.501), rgba(0, 0, 0, 0.515)), url(../img/Screenshot_3.png); }

.formularioTitulo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 4rem;
  margin-bottom: 10vh;
  margin-top: 5vh;
  color: #a38051; }

.lineasDoradas {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  display: flex;
  margin-bottom: 100px; }
  .lineasDoradas div.bordeFormulario {
    border: #917046 solid 5px;
    padding: 20px; }
    .lineasDoradas div.bordeFormulario div {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-bottom: 20px; }
      .lineasDoradas div.bordeFormulario div input {
        border-bottom: 4px solid #a38051;
        background-color: rgba(51, 51, 51, 0.247);
        color: #ffffff; }
      .lineasDoradas div.bordeFormulario div textarea {
        border-bottom: 4px solid #a38051;
        box-shadow: none;
        border-top: rgba(51, 51, 51, 0);
        border-left: rgba(51, 51, 51, 0);
        border-right: rgba(51, 51, 51, 0);
        background-color: rgba(51, 51, 51, 0.247);
        color: #ffffff; }
      .lineasDoradas div.bordeFormulario div .formularioBtn {
        padding: 5px 20px 5px 20px;
        border-radius: 15px;
        background-color: #333;
        border-color: #a38051; }

/*----------------------------Mapa----------------------------*/
section.mapaCentro {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 40px;
  margin-bottom: 100px; }
  section.mapaCentro h3 {
    font-size: 4rem;
    margin-bottom: 10vh;
    margin-top: 5vh;
    color: #a38051;
    border-bottom: 4px solid #a38051; }
  section.mapaCentro .mapa {
    border-radius: 0% 100% 100% 100%;
    margin-top: 40px;
    border: #917046 solid 5px;
    transition: all 1s ease-out 0s; }
  section.mapaCentro div p {
    color: #a38051;
    text-decoration: none; }

/*----------------------------Servicios otros----------------------------*/
.heroServiciosCB {
  background: url(../img/ClubBrB.jpg);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; }

.heroServiciosCU {
  background: url(../img/ClubUB.jpg);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; }

.heroServiciosC {
  background: url(../img/ChacraOlivosB.jpg);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; }

/*----------------------------Galeria------------------------------*/
.heroTextoGaleria {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: url(../img/boxcoper.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  height: 30vh;
  font-weight: 400;
  font-size: 80px;
  line-height: 80px;
  color: #a38051;
  padding: 20px;
  text-align: center;
  margin-bottom: 100px;
  text-shadow: #faf7eb 2px 0 10px;
  -webkit-text-shadow: #faf7eb 2px 0 10px;
  -moz-text-shadow: #faf7eb 2px 0 10px;
  z-index: 1; }
  .heroTextoGaleria h2 {
    font-size: 6rem; }
  .heroTextoGaleria img {
    width: 40%;
    height: 100%; }

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(80px, auto);
  margin-top: 100px;
  margin-bottom: 100px; }
  .wrapper div img {
    width: 90%;
    height: 90%;
    object-fit: cover;
    box-shadow: 0px 0px 14px 0px rgba(255, 255, 255, 0.75);
    -webkit-box-shadow: 0px 0px 14px 0px rgba(255, 255, 255, 0.75);
    -moz-box-shadow: 0px 0px 14px 0px rgba(255, 255, 255, 0.75); }
  .wrapper div video {
    width: 90%;
    height: 90%;
    object-fit: cover;
    box-shadow: 0px 0px 14px 0px rgba(255, 255, 255, 0.75);
    -webkit-box-shadow: 0px 0px 14px 0px rgba(255, 255, 255, 0.75);
    -moz-box-shadow: 0px 0px 14px 0px rgba(255, 255, 255, 0.75); }

.ados {
  grid-column: span 2; }

.acinco {
  grid-row: span 2; }

.avid {
  grid-column: span 2; }

.bnueve {
  grid-row: span 2; }

.bdiez {
  height: 90%;
  grid-column: span 2; }

.cuno {
  grid-row: span 2; }

.cocho {
  grid-row: span 2; }

.uocho {
  grid-column: span 2; }

.wrapper .uruguay div img {
  margin-left: 100px; }

footer div.containerFooter {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: auto;
  margin-top: 100px;
  width: 100%;
  padding: 50px 0px;
  background-image: url(../img/background-footer.png);
  background-size: cover;
  background-color: #d39d55a4; }
  footer div.containerFooter div.footer {
    display: flex;
    flex-direction: column;
    padding: 40px; }
    footer div.containerFooter div.footer div.logo img {
      width: 180px; }
    footer div.containerFooter div.footer a.foot img {
      width: 30x;
      height: 30px; }
  footer div.containerFooter h2 {
    margin-bottom: 30px;
    color: #ffffff;
    font-weight: 700;
    font-size: 40px; }
  footer div.containerFooter a {
    margin-top: 10px;
    color: #ffffff;
    font-weight: 600;
    text-decoration: none; }
  footer div.containerFooter a.foot {
    font-size: 25px; }

footer div.copyright {
  max-width: 1200px;
  margin: auto;
  text-align: center;
  padding: 0px 40px; }
  footer div.copyright p {
    margin-top: 20px;
    color: #ffffff; }
  footer div.copyright hr {
    border: none;
    height: 1px;
    background-color: #917046; }

/*---------------------------Hovers----------------------------*/
/*---------------------------Menu----------------------------*/
header li a:hover, .dropdown:hover .dropbtn {
  transition: 0.5s;
  background-color: #f9f9f9d5;
  color: #917046;
  transition-duration: 0.5s; }

/*---------------------------Hovers Servicios Inicio----------------------------*/
section.servicios div div a img:hover {
  transition: 0.5s;
  box-shadow: 0px 0px 20px 0px #ffffff inset;
  -webkit-box-shadow: 0px 0px 20px 0px #ffffff inset;
  -moz-box-shadow: 0px 0px 20px 0px #ffffff inset; }

section.servicios div div a:hover {
  transition: 0.8s;
  color: #917046;
  font-size: 1.2rem; }

section.servicios div div:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 34px 0px #917046;
  -webkit-box-shadow: 0px 0px 34px 0px #917046;
  -moz-box-shadow: 0px 0px 34px 0px #917046; }

/*---------------------------Hovers Servicios Otros----------------------------*/
section.serviciosOtros div div a img:hover {
  transition: 0.5s;
  box-shadow: 0px 0px 10px 0px nthnth(#917046, #a38051, #ffffff, #333, 3);
  -webkit-box-shadow: 0px 0px 10px 0px #ffffff;
  -moz-box-shadow: 0px 0px 10px 0px #ffffff; }

section.serviciosOtros div div a:hover {
  transition: 0.8s;
  color: #917046;
  font-size: 1.2rem; }

section.serviciosOtros div div:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 34px 0px #917046;
  -webkit-box-shadow: 0px 0px 34px 0px #917046;
  -moz-box-shadow: 0px 0px 34px 0px #917046; }

/*---------------------------Formulario----------------------------*/
div.formulario input.formularioBtn:hover {
  transform: scale(1.05);
  color: #a38051;
  background-color: #333;
  transition: 0.5s; }

/*---------------------------Mapa----------------------------*/
section.mapaCentro iframe.mapa:hover {
  border-radius: 0% 0% 0% 0%;
  transition: 1s; }

/*---------------------------Footer----------------------------*/
.footer a:hover {
  opacity: 0.5;
  transition: 0.9s; }

/* Media query */
@media screen and (max-width: 940px) {
  .contact {
    font-size: 5rem; } }

@media screen and (max-width: 770px) {
  .heroTextoOtros h2 {
    font-size: 2.8rem; }
  section.serviciosOtros div div:hover {
    transform: scale(1.05); } }

@media screen and (max-width: 660px) {
  .heroTexto h2 {
    font-size: 2.9rem; }
  .heroTexto {
    height: 30vh; } }

@media screen and (max-width: 650px) {
  .heroTextoGaleria img {
    width: 60%; }
  section.serviciosOtros div div img {
    width: 220px;
    padding: 10px; }
  section.serviciosOtros div div {
    width: 230px;
    height: 500px;
    font-size: 1rem;
    flex-direction: column; }
  .heroTexto {
    height: 30vh; }
  .contact {
    font-size: 3rem; }
  section.lineasDoradas p.margen {
    font-size: 1.8rem; } }

@media screen and (max-width: 600px) {
  .heroTextoGaleria h2 {
    font-size: 4rem; }
  .hero {
    height: 60vh;
    margin-top: 100px; }
  .dentrohero {
    height: 60vh; }
  .textIndex {
    font-size: 2rem; }
  section.lineasDoradas p.margen {
    font-size: 1.4rem; } }

@media screen and (max-width: 540px) {
  .infoCaja {
    width: 38vh; }
  .infoCajaTexto {
    font-size: 2rem; }
  .infoCajaTexto h3 {
    font-size: 2rem; }
  .infoCajaTexto div p {
    text-align: justify;
    font-size: 1rem; } }

@media screen and (max-width: 500px) {
  .heroTexto h2 {
    font-size: 1.8rem; }
  .heroTextoGaleria h2 {
    font-size: 2.8rem; } }

@media screen and (max-width: 420px) {
  .heroTextoGaleria img {
    width: 90%;
    height: 100%; }
  .hero {
    height: 40vh;
    margin-bottom: 100px; }
  .dentrohero {
    height: 40vh; }
  .heroTexto {
    height: 30vh; }
  .contact {
    font-size: 2.8rem; }
  section.lineasDoradas p.margen {
    font-size: 1rem; } }
