footer{
    div.containerFooter{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin: auto;
        margin-top: 100px;
        width: 100%;
        padding: 50px 0px;
        background-image: url(../img/background-footer.png);
        background-size: cover;
        background-color: #d39d55a4; 
        div.footer{ 
            display: flex;
            flex-direction: column;
            padding: 40px;
        div.logo{
            img{
                width: 180px;
            }
        } 
        a.foot img{
            width: 30x;
            height: 30px;
        }
    }
            h2{
                margin-bottom: 30px;
                color: nth($colores, 3);
                font-weight: 700;
                font-size: 40px;
                }
            a{
                margin-top: 10px;
                color: nth($colores, 3);
                font-weight: 600;
                text-decoration: none;
            }
            a.foot {
                font-size: 25px;
                }
        }
    div.copyright{
        max-width: 1200px;
        margin: auto;
        text-align: center;
        padding: 0px 40px;
        p{
            margin-top: 20px;
            color: nth($colores, 3);
            }
        hr{
            border: none;
            height: 1px;
            background-color: nth($colores, 1);
        }
    }
}