/*--------------------------------------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(#000000, #242424);
  line-height: 1.05;
}

.menu {
  background-color: #967f6270;
  color: #ffffff;
}
