/* Media query */
@media screen and (max-width: 940px) {
  h2.contact {
    font-size: 4rem;
  }
  .formularioTitulo {
    font-size: 3rem;
  }
}
@media screen and (max-width: 770px) {
  .heroTextoOtros h2 {
    font-size: 2.8rem;
  }
  section.serviciosOtros div div:hover {
    transform: scale(1.05);
  }
}
@media screen and (max-width: 660px) {
  .heroTexto h2 {
    font-size: 2.9rem;
  }
  .heroTexto {
    height: 30vh;
  }
  .wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
  .wrapper div img {
    width: 81%;
  }
  section.lineasDoradas{
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 650px) {
  .heroTextoGaleria img {
    width: 60%;
  }
  section.serviciosOtros div  img {
    width: 220px;
    padding: 10px;
  }
  section.serviciosOtros div div  {
    width: 230px;
    height: 500px;
    font-size: 1rem;
    flex-direction: column;
    text-align: center ;
  }
  .heroTexto {
    height: 30vh;
  }
  .contact {
    font-size: 3rem;
  }
  section.lineasDoradas p.margen {
    font-size: 1.8rem;
  }
  section.lineasDoradas div.infoCaja {
    width: 40vh;
  }
  .formularioTitulo {
    font-size: 2rem;
  }
  section.mapaCentro h3 {
    font-size: 2.2rem;
  } 
}
@media screen and (max-width: 600px) {
  .heroTextoGaleria h2 {
    font-size: 4rem;
  }
  .hero {
    height: 60vh;
  }
  .dentrohero {
    height: 60vh;
  }
  .textIndex {
    font-size: 2rem;
  }
  section.lineasDoradas p.margen {
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 540px) {
  .infoCajaTexto {
    font-size: 2rem;
  }
  .infoCajaTexto h3 {
    font-size: 2rem;
  }
  .infoCajaTexto div p {
    text-align: justify;
    font-size: 1rem;
  }
}
@media screen and (max-width: 500px) {
  .heroTexto h2 {
    font-size: 1.8rem;
  }
  .heroTextoGaleria h2 {
    font-size: 2.8rem;
  }
}
@media screen and (max-width: 420px) {
  .heroTextoGaleria img {
    width: 90%;
    height: 100%;
  }
  .hero {
    height: 40vh;
    background-attachment:local ;
  }
  .dentrohero {
    height: 40vh;
    width:100% ;
  }
  .heroTexto {
    height: 30vh;
  }
  .contact {
    font-size: 2.8rem;
  }
  section.lineasDoradas p.margen {
    font-size: 1rem;
  }
}
